<!-- navbar boostrap -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-md">
        <h1 class="navbar-brand" >MyWeb.</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link 
              {{#if (equal currentPage 'Home') }}
                active fw-semibold
              {{/if}}
              " href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link
                {{#if (equal currentPage 'Project') }}
                active fw-semibold
              {{/if}}
              " href="/projectList">MyProject</a>
            </li>
            <li class="nav-item">
              <a class="nav-link
                {{#if (equal currentPage 'Blog') }}
                active fw-semibold
              {{/if}}
              " href="/blog-list">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link
                {{#if (equal currentPage 'TesTimonials') }}
                active fw-semibold
              {{/if}}
              " href="/testimonials">Testimonials</a>
            </li>
          </ul>


            {{!-- profile colaps --}}
            <div class="btn-group profile">
              <button class="btn btn-sm dropdown-toggle button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="user" style="width: 25px; margin:0;"></i><p style="font-size: 15px;">{{user.name}}</p>
              </button>
              <ul class="dropdown-menu">
                <li>
                 {{#unless user }}
                    <a href="/login" class="me-3">Log in</a>
                 {{/unless }}
                </li>
                <li>
                 {{#unless user }}
                    <a href="/register" class="me-3">Register</a>
                 {{/unless }}
                </li>
                <li>
                {{#if user}}
                <a href="/logout" class="me-3">Log Out</a>
                {{/if}}
                </li>
              </ul>
            </div>

        </div>
      </div>
    </nav>