  
  {{#> layout currentPage='Home'}}

  {{!-- pesan login saat selesai mendaftar --}}
    {{#if messages.succes }}
    <div class="alert alert-success" role="alert">
      {{ messages.succes }}
    </div>
    {{/if }}
    <!-- content new -->
    <div class="container-lg mt-3 mb-5" style=" padding:30px; text-align: center;">

      <!-- intro -->
      <div class="row">

      <div class="col-md mb-2 intro" style=" text-align: justify;">
        <h3>Hi, Welcome to my website</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, est sit expedita suscipit ut, explicabo aliquam eum reiciendis iste consequatur rerum nesciunt. Vitae et laboriosam dolorem voluptate quidem culpa cumque consequatur praesentium mollitia eius architecto animi corrupti, in excepturi hic distinctio ullam maxime earum fuga molestias commodi ipsum illo quas dolor. Ducimus nam laborum itaque totam consequuntur facere adipisci, consequatur commodi rerum eaque atque minus ipsam amet ut.</p>

        <a href="/contact" class="btn contact">Contact</a>
        <a class="vc" href="/file/cv.pdf" style="text-decoration: none;">download CV <i data-feather="download" style="width: 18px;"></i></a>

        <div class="social-media">
            <a href=""><i data-feather="linkedin"></i></a>
            <a href="https://www.instagram.com/afdalrafi_?igsh=dzBvMXkybmExa2tw"><i data-feather="instagram"></i></a>
            <a href=""><i data-feather="facebook"></i></a>
            <a href=""><i data-feather="twitter"></i></a>
        </div>
      </div>

      <!-- card profile -->
      <div class="col-sm" style=" text-align: center; align-content: center;">
      <div class="card mt-2" style="width: 18rem; margin: auto;">
        <img src="asets/img/avatar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Muhammad Afdal Rafi</h4>
          <h6>Fullstack Developer</h6>
        </div>
      </div>
      </div>

  </div>
  </div>


{{/layout}}