
    {{#> layout currentPage="Project" }}
    <!-- content -->
    <div class="container-lg mt-3 mb-5 contProject" >
          <div class="" style="text-align: center;">
            <h1>My Project</h1>
          </div>
          <div style="text-align:right;
                      margin: 20px auto;
                      ">
            <a class="btn btn-primary text-end" href="/projectAdd">Add Project</a>
          </div>
          <hr>

          <!-- bagian konten card -->
        <div class="row">
          
        <div class="col-md-4">
         <div class="card coll" style="width: 18rem;">
            <img src="/img/g1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2>judul</h2>
                <p>durasi: 20 hari</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="d-flex social-media">
                <a class="card-link" href=""><i data-feather="linkedin" style="width: 18px;"></i></a>
                <a class="card-link" href=""><i data-feather="instagram" style="width: 18px;"></i></a>
                <a class="card-link" href=""><i data-feather="facebook" style="width: 18px;"></i></a>
              </div>
              <div class="tombol">
              <a href="#" class="btn">Update</a>
              <a href="#" class="btn">Delete</a>
              </div>
            </div>
          </div>
        </div>

        </div>
        </div>
      {{/layout}}
