body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

/* navbar */
.navbar {
  padding: 5px 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.navbar .contact {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 10px 35px;
  border-radius: 20px;
  background-color: #4891e0;
}
.navbar .contact:hover {
  background-color: #0477f1;
}
.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
  padding: 0 0;
  margin: 0;
  font-weight: bold;
}
.nav ul li {
  padding: 0;
}
.nav ul li h1 {
  margin: 0;
}

.navbar h1{
  font-size: 30px;
}
.navbar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
}
.navbar ul li a:hover {
  color: #4891e0;
}
.navbar ul li a::after {
  content: "";
  display: block;
  padding-bottom: 1px;
  border-bottom: 3px solid #4891e0;
  transform: scaleX(0);
  transition: 0.2s;
}
.navbar ul li a:hover::after {
  transform: scaleX(1);
}

/* container */
.container {
  width: 900px;
  margin: 30px auto;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px #000000;
  border-radius: 20px;
}
.content {
  width: 80%;
  text-align: justify;
}
.container .container-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 100px;
}

.content button {
  width: 90px;
  height: 40px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #4891e0;
  color: white;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content button:hover {
  background-color: #0477f1;
}
.content .cv {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 13px;
  margin-top: 40px;
  margin-bottom: 30px;
  color: black;
}
.content .cv:hover {
  color: #4891e0;
}
.content .social-media {
  width: 350px;
  height: 50;
  margin: auto;
  margin-top: 20px;
}
.content .social-media ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: auto;
  padding: 0;
  margin: auto;
}
.content .social-media ul li {
  padding: 6px 10px;
  background-color: #4891e0;
  border-radius: 50px;
  margin-top: 10px;
}
.content .social-media ul li:hover {
  background-color: #0477f1;
}
.content .social-media ul li a {
  color: white;
}

.container .card {
  width: 300px;
  height: 420px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 2px 2px 5px #000000;
  border-radius: 20px;
  float: left;
}
.container .card img {
  width: 100%;
  border-radius: 20px;
}

/* contact */

.form-input {
  width: 400px;
  margin: 30px auto;
  box-shadow: 2px 2px 5px #000000;
  border-radius: 20px;
}
.form-input h1 {
  margin: 0;
  text-align: center;
  font-size: 60px;
}
.form-input ul {
  margin: auto;
  padding: 10% 5%;
}
.form-list li {
  list-style: none;
}
.form-list li input,
select,
textarea {
  width: 90%;
  height: 40px;
  border: 3px solid rgb(225, 222, 222);
  border-radius: 15px;
  font-size: 15px;
}
.form-list label {
  font-weight: bold;
  margin-left: 10px;
}
.form-list {
  margin-bottom: 20px;
}
.form-content button {
  width: 90px;
  height: 40px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #4891e0;
  color: white;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-left: 5%;
}
form-content button:hover {
  background-color: #145fae;
}

/* blog */

.formBlog input,
textarea {
  width: 100%;
  height: 40px;
  border: 3px solid rgb(225, 222, 222);
  border-radius: 15px;
  font-size: 15px;
}
.formBlog {
  margin: 40px auto;
  width: 450px;
}
.formBlog button {
  padding: 10px 20px;
  border: none;
  background-color: #0477f1;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  text-align: right;
}
.formBlog tr td {
  padding: 8px;
}
.formBlog .form-list {
  margin: none;
  padding: 0;
}
.blogBtn {
  text-align: right;
}

/* blog list */

.blogList {
  margin: 20px auto;
  width: 1200px;
}
.blogList .blogCard {
  width: 260px;
  height: 530px;
  padding: 10px;
  margin: 8px;
  box-shadow: 5px 5px 10px rgb(183, 183, 183);
  display: inline-block;
  border-radius: 8px;
  background-color: white;
}
.blogList .blogCard .image img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.blogList .blogCard .blogList-content {
  flex: 1;
}

.blogList .blogCard .blogList-content .button {
  text-align: center;
}
.blogList .blogCard .blogList-content .button button {
  width: 120px;
  height: 25px;
  border: 0;
  background-color: #0477f1;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}

/* card  */
.container-md section{
  width: 100%;
  height: auto;
  background-color: rgb(128, 204, 204);
  display: flex;
  flex: auto;
  justify-content: space-around;
}
.container-md section .card{
  width: 100%;
  margin: 10px;
}

/* add project */

.addProject table tr td input, textarea{
  margin: 10px 0;
}