body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

/* navbar */
.navbar {
  padding: 5px 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navbar h1{
  font-size: 30px;
}
.navbar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
}
.navbar ul li a:hover {
  color: #0d6dfd;
}
.navbar ul li a::after {
  content: "";
  display: block;
  padding-bottom: 1px;
  border-bottom: 3px solid #0d6dfd;
  transform: scaleX(0);
  transition: 0.2s;
}
.navbar ul li a:hover::after {
  transform: scaleX(1);
}

/* container */
/* .container {
  width: 900px;
  margin: 30px auto;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px #000000;
  border-radius: 20px;
}
.container .container-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 100px;
} */
.content {
  width: 80%;
  text-align: justify;
}

.intro .contact {
  width: 120px;
  height: 40px;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #0477f1;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.intro .contact:hover {
  background-color: #3290f5;
  color: white;
}
.intro .cv {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 13px;
  margin-top: 40px;
  margin-bottom: 30px;
  align-items: center;
  color: #0477f1;
}
.intro .cv:hover {
  color: #3290f5;
}
.intro .social-media {
  width: 250px;
  height: 50;
  margin: 10px 0 auto;
  justify-content: space-between;
  display: flex;
  margin-top: 20px;
}
.intro .social-media a {
  padding: 10px;
  background-color: #0477f1;
  color: white;
  border-radius: 15px;
  align-items: center;
  transition: 0.5s;
}
.intro .social-media a:hover{
  border-radius: 30px;
  background-color: #3290f5;
}

/* contact */

.form-content {
  width: 80%;
  margin: 10px auto;
  text-align: right;
}
.form-input h1 {
  margin: 0;
  text-align: center;
}


/* card */
.contProject .tombol{
  width: 100%;
  display: flex; 
  margin: 10px 0 0 0;
  justify-content: space-between;

}

.contProject .tombol a{
  padding: 1px 40px;
  font-size: small;
  background-color: #0477f1;
  color: white;
}
.contProject .tombol button{
  padding: 1px 40px;
  font-size: small;
  background-color: #0477f1;
  color: white;
}
.contProject .tombol a:hover{
  background-color: #3290f5;
}

.contProject .social-media {
  display: flex;
}
.contProject .social-media a i{
  padding: 0;
  margin: 0;
}

.contProject .social-media a {
  padding: 6px 10px;
  background-color: #0477f1;
  color: white;
  align-items: center;
  transition: 0.5s;
  align-items: center;
  border-radius: 10px;
}
.contProject .social-media a:hover{
  border-radius: 30px;
  background-color: #3290f5;
}
.contProject .card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
}
.contProject .card{
  height: 480px;
}

.contProject .collCard{
align-items: center;
padding: 20px;
}

/* blog css ----------------------------------------------------------------------*/
.blog{
  padding: 20px;
  text-align: justify;
  margin: 0;
  border: 1px black;

}
.blog img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog .a{
  text-align: right;
}
.blog .time {
  text-align: right;
  color: gray;
}
.blogDetail section article{
  text-align: justify;
}
.blogDetail section article img{
  width: 60vw;
  height: 30vw;
  object-fit:cover;
}
.blogDetail section article .creator{
  text-align: center;
}
.blogDetail section article .creator p{
  margin: 0;
}
/* testimonials--------------------------------------------- */
.testimonials .card img{
  width: 100%;
  height: 250px;
  object-fit:cover;
}

